<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
	<sectionGroup name="environments">
      <section name="galaxy-s9" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="galaxy-s9-plus" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="galaxy-s8-plus" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="galaxy-s8" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />   
      <section name="pixel-2" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="pixel-3" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="pixel-3-xl" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

  </configSections>
  
  <appSettings>
    <add key="user" value="BROWSERSTACK_USERNAME" />
    <add key="key" value="BROWSERSTACK_ACCESS_KEY" />
    <add key="server" value="hub.browserstack.com" />
  </appSettings>
  
  <capabilities>
    <single>
      <add key="project" value="Sample Framework Runs" />
      <add key="build" value="BS NUnit Sample" />
      <add key="name" value="single_test" />
      <add key="browserstack.debug" value="true" />
      <add key="app" value="bs://hashed-app-id"/>
    </single>
    <local>
      <add key="project" value="Sample Framework Runs" />
      <add key="build" value="BS NUnit Sample" />
      <add key="name" value="local_test" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="true" />
      <add key="app" value="bs://hashed-app-id"/>
    </local>
    <parallel>
      <add key="project" value="Sample Framework Runs" />
      <add key="build" value="BS NUnit Sample" />
      <add key="name" value="parallel_test" />
      <add key="browserstack.debug" value="true" />
      <add key="app" value="bs://hashed-app-id"/>
    </parallel>
  </capabilities>

  <environments>
        
        <galaxy-s9>
            <add key="device" value="Samsung Galaxy S9" />
            <add key="os_version" value="8.0" />
        </galaxy-s9>
        
        <galaxy-s9-plus>
            <add key="device" value="Samsung Galaxy S9 Plus" />
            <add key="os_version" value="9.0" />
        </galaxy-s9-plus>
        
        <galaxy-s8-plus>
            <add key="device" value="Samsung Galaxy S8 Plus" />
            <add key="os_version" value="9.0" />
        </galaxy-s8-plus>
        
        <galaxy-s8>
            <add key="device" value="Samsung Galaxy S8" />
            <add key="os_version" value="7.0" />
        </galaxy-s8>
        
        <pixel-2>
            <add key="device" value="Google Pixel 2" />
            <add key="os_version" value="8.0" />
        </pixel-2>
        
        <pixel-3>
            <add key="device" value="Google Pixel 3" />
            <add key="os_version" value="9.0" />
        </pixel-3>
        
        <pixel-3-xl>
            <add key="device" value="Google Pixel 3 XL" />
            <add key="os_version" value="9.0" />
        </pixel-3-xl>
        
    </environments>
</configuration>
